body {
    font-family: 'Verdana';
    color: #cccccc;
    background-color: #345345;
}

img {
    cursor: zoom-in;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 90%;
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* For mobile phones: */
body {
    font-size: 14pt;
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {font-size: 12pt;}
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
}

div.content {
    background-attachment: fixed;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    background-color: #313834;
    height: auto;
    overflow: visible;
}

div.content p {
    margin-bottom: 50;
}

a, a:visited {
    color: #6ea661;
}
